<?xml version="1.0" ?>
<Config>
    <Silicon>
        <Firmware>
            <Driver SrcDir="qcfirmware$(silicon)_EMMC" OutDir="QC$(SoC)/Firmware/EMMC"/>
            <Driver SrcDir="qcfirmware$(silicon)_NVME" OutDir="QC$(SoC)/Firmware/NVME"/>
            <Driver SrcDir="qcfirmware$(silicon)_UFS" OutDir="QC$(SoC)/Firmware/UFS"/>
        </Firmware>
        <Drivers>
            <Driver SrcDir="HalExtQCWdogTimer$(silicon)" OutDir="QC$(SoC)/Drivers/HALs/WatchDog"/>
            <Driver SrcDir="qcabd" OutDir="QC$(SoC)/Drivers/SOC/ACPI"/>
            <Driver SrcDir="qcadcm$(silicon)" OutDir="QC$(SoC)/Drivers/Audio/ADCM"/>
            <Driver SrcDir="qcadc$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/System/VoltageCurrentMonitoring"/>
            <Driver SrcDir="qcadspdaemon$(silicon)" OutDir="QC$(SoC)/Drivers/Subsystems/ADSPDaemon"/>
            <Driver SrcDir="qcadsprpc$(silicon)" OutDir="QC$(SoC)/Drivers/Audio/RPC/ADSPRPC"/>
            <Driver SrcDir="qcadsprpcd$(silicon)" OutDir="QC$(SoC)/Drivers/Audio/RPC/ADSPRPCD"/>
            <Driver SrcDir="qc5gnrcoexmgr$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/5GNRCoexistenceManager"/>
            <Driver SrcDir="qcbtaddvscregistry$(silicon)" OutDir="QC$(SoC)/Drivers/Bluetooth/AddVSCRegistry"/>
            <Driver SrcDir="qccammipicsi$(silicon)" OutDir="QC$(SoC)/Drivers/Camera/MIPICSI"/>
            <Driver SrcDir="qccamplatform$(silicon)" OutDir="QC$(SoC)/Drivers/Camera/Platform"/>
            <Driver SrcDir="qcccidbridge$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/CCID"/>
            <Driver SrcDir="qccdi$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/ResetPower/CrashDumpInjector"/>
            <Driver SrcDir="qcdeepstandbymdm$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/DeepStandby"/>
            <Driver SrcDir="QCDiagBridge" OutDir="QC$(SoC)/Drivers/Cellular/DiagBridge"/>
            <Driver SrcDir="qcdiagcsi$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/DiagCSI"/>
            <Driver SrcDir="qcdiagrouter$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/DiagRouter"/>
            <Driver SrcDir="qcdplbridge$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/DPL"/>
            <Driver SrcDir="qcfgbcl$(silicon)" OutDir="QC$(SoC)/Drivers/Battery/BatteryCurrentLimiter"/>
            <Driver SrcDir="qcglink$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/Buses/GLINK"/>
            <Driver SrcDir="qcgnss$(silicon)" OutDir="QC$(SoC)/Drivers/GPS"/>
            <Driver SrcDir="qcgpi$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/Buses/GPI"/>
            <Driver SrcDir="qcgpio$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/GPIO"/>
            <Driver SrcDir="qchwnled$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/LED"/>
            <Driver SrcDir="qci2c$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/I2C"/>
            <Driver SrcDir="qciommu" OutDir="QC$(SoC)/Drivers/SOC/IOMMU"/>
            <Driver SrcDir="qcipcc$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/System/IPCC"/>
            <Driver SrcDir="qcipcrouter$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/IPCRouter"/>
            <Driver SrcDir="qckmbam$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/System/BusAccessModule"/>
            <Driver SrcDir="QCListenSM$(silicon)" OutDir="QC$(SoC)/Drivers/Audio/ListenSoundModel"/>
            <Driver SrcDir="QCListenSM_swc$(silicon)" OutDir="QC$(SoC)/Drivers/Audio/ListenSoundModelSWC"/>
            <Driver SrcDir="qcmbbnetadapter$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/MBBNetAdapter"/>
            <Driver SrcDir="qcmbrg$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/ModemBridge"/>
            <Driver SrcDir="qcpdsr" OutDir="QC$(SoC)/Drivers/Subsystems/ProtectionDomainServiceRegistry"/>
            <Driver SrcDir="qcpep.wd$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/PowerManagement"/>
            <Driver SrcDir="qcpil" OutDir="QC$(SoC)/Drivers/SOC/HexagonLoader/PIL"/>
            <Driver SrcDir="qcpmic$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/PMIC/Core"/>
            <Driver SrcDir="QcPmicApps$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/PMIC/Apps"/>
            <Driver SrcDir="qcpmicgpio$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/PMIC/GPIO"/>
            <Driver SrcDir="qcppx$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/PCIe"/>
            <Driver SrcDir="qcpsautoreg$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/System/AutoReg"/>
            <Driver SrcDir="qcremoteat$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/RemoteAT"/>
            <Driver SrcDir="qcremotefs$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/RemoteFS/"/>
            <Driver SrcDir="qcrmnetbridge$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/RmnetBridge"/>
            <Driver SrcDir="qcrpen" OutDir="QC$(SoC)/Drivers/SOC/ResetPower/ResetProtectionEnabler"/>
            <Driver SrcDir="qcscm" OutDir="QC$(SoC)/Drivers/SOC/System/SCM"/>
            <Driver SrcDir="qcsecapp" OutDir="QC$(SoC)/Drivers/SOC/System/SecApp"/>
            <Driver SrcDir="qcshutdownsvc" OutDir="QC$(SoC)/Drivers/Shutdown"/>
            <Driver SrcDir="QcSkExt$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/HexagonLoader/SecureKernel"/>
            <Driver SrcDir="qcpilfilterext" OutDir="QC$(SoC)/Drivers/SOC/HexagonLoader/PILFilter"/>
            <Driver SrcDir="qcslimbus$(silicon)" OutDir="QC$(SoC)/Drivers/Audio/SlimBus"/>
            <Driver SrcDir="qcsmmu$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/System/SMMU"/>
            <Driver SrcDir="QcSOCPartition" OutDir="QC$(SoC)/Drivers/SOC/Provisioning"/>
            <Driver SrcDir="qcspmi$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/System/SPMI"/>
            <Driver SrcDir="qcSubsysThermalMgr" OutDir="QC$(SoC)/Drivers/Subsystems/ThermalMgr"/>
            <Driver SrcDir="qcsyscache$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/System/CacheController"/>
            <Driver SrcDir="QcTftpKmdf" OutDir="QC$(SoC)/Drivers/SOC/System/Transports"/>
            <Driver SrcDir="qcthermalmdm$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/ThermalMDM"/>
            <Driver SrcDir="QcTrEE" OutDir="QC$(SoC)/Drivers/SOC/TrEE"/>
            <Driver SrcDir="qcuart$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/UART"/>
            <Driver SrcDir="qcusbcucsi$(silicon)" OutDir="QC$(SoC)/Drivers/USB/UCSI"/>
            <Driver SrcDir="QcUsbFnSsFilter$(silicon)" OutDir="QC$(SoC)/Drivers/USBFn/SuperSpeedFilter"/>
            <Driver SrcDir="QcXhciFilter$(silicon)" OutDir="QC$(SoC)/Drivers/USBHost"/>
            <Driver SrcDir="qSarMgr" OutDir="QC$(SoC)/Drivers/SAR"/>
            <Driver SrcDir="ufnserialcomposite" OutDir="QC$(SoC)/Drivers/USBFn/Interfaces"/>
            <Driver SrcDir="qcaucd$(silicon)" OutDir="QC$(SoC)/Drivers/Audio/Device"/>
            <Driver SrcDir="qcaudminiport_Base$(silicon)" OutDir="QC$(SoC)/Drivers/Audio/AudMiniport"/>
            <Driver SrcDir="qcbtfmuart_hsp$(silicon)" OutDir="QC$(SoC)/Drivers/Bluetooth/BTFMUART_HSP"/>
            <Driver SrcDir="qccamauxsensor$(silicon)" OutDir="QC$(SoC)/Drivers/Camera/AuxiliarySensor"/>
            <Driver SrcDir="qccamavs$(silicon)" OutDir="QC$(SoC)/Drivers/Camera/AVStream"/>
            <Driver SrcDir="qccamflash$(silicon)" OutDir="QC$(SoC)/Drivers/Camera/Flash"/>
            <Driver SrcDir="qccamfrontsensor$(silicon)" OutDir="QC$(SoC)/Drivers/Camera/FrontSensor"/>
            <Driver SrcDir="qccamisp$(silicon)" OutDir="QC$(SoC)/Drivers/Camera/ISP"/>
            <Driver SrcDir="qccamjpege$(silicon)" OutDir="QC$(SoC)/Drivers/Camera/JPEGEncoder"/>
            <Driver SrcDir="qcdx$(silicon)" OutDir="QC$(SoC)/Drivers/Graphics/DXKM"/>
            <Driver SrcDir="qcipa$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/IPA"/>
            <Driver SrcDir="qcSensors" OutDir="QC$(SoC)/Drivers/Sensors/SSC"/>
            <Driver SrcDir="qcsubsys$(silicon)" OutDir="QC$(SoC)/Drivers/Subsystems/CombinedSubsystem"/>
            <Driver SrcDir="qcwlan$(silicon)" OutDir="QC$(SoC)/Drivers/WLAN/Core"/>
            <!-- SC7180-specific -->
            <Driver SrcDir="qccamrearsensor$(silicon)" OutDir="QC$(SoC)/Drivers/Camera/RearSensor"/>
            <Driver SrcDir="qcrevrmnet$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/RevRmnet"/>
            <Driver SrcDir="qcmbb$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/MBB"/>
            <Driver SrcDir="qcgsi$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/GSI"/>
            <Driver SrcDir="qcbtfmuart$(silicon)" OutDir="QC$(SoC)/Drivers/Bluetooth/BTFMUART"/>
            <Driver SrcDir="qcscm$(silicon)" OutDir="QC$(SoC)/Drivers/SoC/System/SCM"/>
            <Driver SrcDir="qcauddev_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Audio/Device"/>
            <Driver SrcDir="qcauddev$(silicon)" OutDir="QC$(SoC)/Drivers/Audio/Device"/>
            <Driver SrcDir="qcspi$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/SPI"/>
            <Driver SrcDir="qcacsp_cls$(silicon)" OutDir="QC$(SoC)/Extensions/Audio/ACDB"/>
            <Driver SrcDir="qcaudminiportCLS_Extension$(silicon)" OutDir="QC$(SoC)/Extensions/Audio/AudMiniport"/>
            <Driver SrcDir="QcLteCoexMgr$(silicon)" OutDir="QC$(SoC)/Drivers/Cellular/LteCoexistenceManager"/>
            <Driver SrcDir="qciommu$(silicon)" OutDir="QC$(SoC)/Drivers/SOC/IOMMU"/>
            <Driver SrcDir="qcbtfmuart_ext_SwiftPairEnable$(silicon)" OutDir="QC$(SoC)/Extensions/Bluetooth/SwiftPairEnable"/>
        </Drivers>
        <Extensions>
            <Driver SrcDir="qc5gnrcoexmgr_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Cellular/5GNRCoexistenceManager"/>
            <Driver SrcDir="qciommuext$(silicon)" OutDir="QC$(SoC)/Extensions/SOC/IOMMU"/>
            <Driver SrcDir="qcipaext$(silicon)" OutDir="QC$(SoC)/Extensions/Cellular/IPA"/>
            <Driver SrcDir="qcmbbnetadapter_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Cellular/MBBNetAdapter"/>
            <Driver SrcDir="qcpmicext$(silicon)" OutDir="QC$(SoC)/Extensions/PMIC/Core"/>
            <Driver SrcDir="qsarconfig$(silicon)" OutDir="QC$(SoC)/Extensions/SARConfig"/>
            <Driver SrcDir="mcfg_subsys_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Subsystems/ModemConfig"/>
            <Driver SrcDir="qcacsp_crd$(silicon)" OutDir="QC$(SoC)/Extensions/Audio/ACDB"/>
            <Driver SrcDir="qcaucd_ext_crd$(silicon)" OutDir="QC$(SoC)/Extensions/Audio/Device"/>
            <Driver SrcDir="qcaudminiportCRD_Extension$(silicon)" OutDir="QC$(SoC)/Extensions/Audio/AudMiniport"/>
            <Driver SrcDir="qcbtfmuart_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Bluetooth/BTFMUART_HSP"/>
            <Driver SrcDir="qccamauxsensor_extension$(silicon)" OutDir="QC$(SoC)/Extensions/Camera/AuxilarySensor"/>
            <Driver SrcDir="qccamavs_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Camera/AVStream"/>
            <Driver SrcDir="qccamisp_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Camera/ISP"/>
            <Driver SrcDir="qccamjpege_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Camera/JPEGEncoder"/>
            <Driver SrcDir="qccammipicsi_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Camera/MIPICSI"/>
            <Driver SrcDir="qccamplatform_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Camera/Platform"/>
            <Driver SrcDir="qccamfrontsensor_extension$(silicon)" OutDir="QC$(SoC)/Extensions/Camera/FrontCamera"/>
            <Driver SrcDir="qcdxext_crd$(silicon)" OutDir="QC$(SoC)/Extensions/Graphics/DXKM"/>
            <Driver SrcDir="qcfgbclext$(silicon)" OutDir="QC$(SoC)/Extensions/PMIC/BatteryCurrentLimiter"/>
            <Driver SrcDir="QCListenSM_swc_ext$(silicon)" OutDir="QC$(SoC)/Extensions/Audio/ListenSoundModel"/>
            <Driver SrcDir="qcpilEXT$(silicon)" OutDir="QC$(SoC)/Extensions/HexagonLoader/PIL"/>
            <Driver SrcDir="qcSensorsConfigCrd$(silicon)" OutDir="QC$(SoC)/Extensions/Sensors/CRD"/>
            <Driver SrcDir="qcsubsys_ext_adsp$(silicon)" OutDir="QC$(SoC)/Extensions/Subsystems/Audio"/>
            <Driver SrcDir="qcsubsys_ext_cdsp$(silicon)" OutDir="QC$(SoC)/Extensions/Subsystems/Compute"/>
            <Driver SrcDir="qcsubsys_ext_mpss$(silicon)" OutDir="QC$(SoC)/Extensions/Subsystems/Modem"/>
            <Driver SrcDir="qcsubsys_ext_wpss$(silicon)" OutDir="QC$(SoC)/Extensions/Subsystems/WPSS"/>
            <Driver SrcDir="QcTreeExtOem$(silicon)" OutDir="QC$(SoC)/Extensions/SOC/TrEE/OEM"/>
            <Driver SrcDir="QcTreeExtQcom$(silicon)" OutDir="QC$(SoC)/Extensions/SOC/TrEE/QCOM"/>
            <Driver SrcDir="qcwlan_ext$(silicon)" OutDir="QC$(SoC)/Extensions/WLAN/WLAN"/>
            <Driver SrcDir="qcwlan_ext_wpss$(silicon)" OutDir="QC$(SoC)/Extensions/WLAN/WPSS"/>
        </Extensions>
    </Silicon>
</Config>
